<div class="box">
    <div class="heading">Tipo Monitoria</div>
    <div class="title">{{ card.tipoMonitoria }}</div>
    <div class="level">
      <div class="level-item">
        <div class="">
          <div class="heading">Supervisores</div>
          <div class="title is-5 has-text-centered">{{ card.qtdSupervisores }}</div>
        </div>
      </div>
      <div class="level-item">
        <div class="">
          <div class="heading">Operadores</div>
          <div class="title is-5 has-text-centered">{{ card.qtdOperadores }}</div>
        </div>
      </div>
      <div class="level-item">
        <div class="">
          <div class="heading">Média</div>
          <div class="title is-5 has-text-centered">{{ card.media }}%</div>
        </div>
      </div>
    </div>
  </div>