<nav class="level">
  <!-- Right side -->
  <div class="level-left">

    <div class="level-item">
      <p class="subtitle is-5"><strong>Cliente: </strong> {{ audio.nomeDoCliente }}</p>
    </div>

    <div class="level-item">
      <p class="subtitle is-5"><strong>CPF:</strong> {{ audio.cpfDoCliente }} </p>
    </div>

    <div class="level-item">
      <p class="subtitle is-5">
        <strong>Gravação:</strong>
        <a>Ouvir</a>
        <time datetime="2016-1-1">{{ audio.dataHoraDaLigacao }}</time>
      </p>
    </div>

  </div>

</nav>