<w-detalhes-monitoria></w-detalhes-monitoria>
<br>

<div class="tabs is-centered">
  <ul>
    <li class="is-active"><a>Supervisor</a></li>
    <li *ngIf="false"  ><a>RH</a></li>    
  </ul>
</div>


<table class="table is-striped is-fullwidth">
  <thead>
    <tr>
      <th>Indice</th>
      <th>Operador</th>
      <th>Monitoria 1</th>
      <th>Monitoria 2</th>
      <th>Monitoria 3</th>
      <th>Média</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th>Indice</th>
      <th>Operador</th>
      <th>Monitoria 1</th>
      <th>Monitoria 2</th>
      <th>Monitoria 3</th>
      <th>Média</th>
  </tfoot>
  <tbody >
    <tr  *ngFor="let operador of (supervisor | async)?.operadores; let indice = index">
      <td> {{ indice }} </td>
      <td> {{ operador.nome + ' ' + operador.sobreNome }} </td>
      <td>
        <button class="button" (click)="avalidarOperador(operador)" >Avaliar</button>
      </td>
      <td>
        <button class="button is-primary">Nota: 100</button>
      </td>
      <td>
        <button class="button is-danger" disabled>Passou</button>
      </td>
      <td>
        50
      </td>

    </tr>

  </tbody>
</table>