<section class="section">



  <div class="columns">
    <div class="column is-half">is-half</div>
    <div class="column">Auto</div>
    <div class="column">Auto</div>
  </div>



  <div class="level">
    <div class="level-left">
      <div class="level-item">
        <div class="title">Dashboard</div>
      </div>
    </div>
    <div class="level-right">
      <div class="level-item">
        <button type="button" class="button is-small">
              March 8, 2017 - April 6, 2017
            </button>
      </div>
    </div>
  </div>

  <div class="columns" *ngFor="let dashboard of dashboardMonitoria">

    <div class="column is-one-third" *ngFor="let card of dashboard.cards">
      <w-card-monitoria [card]="card"></w-card-monitoria>
    </div>


  </div>






  <button (click)="buscarGravacao()" *ngIf="!detalhesDaGravacao" class="button">Buscar Gravação</button>
  <w-detalhes-gravacao *ngIf="detalhesDaGravacao" [detalhesDaGravacao]="detalhesDaGravacao"></w-detalhes-gravacao>


</section>