<section class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Primary title
        </h1>
        <h2 class="subtitle">
          Primary subtitle
        </h2>
      </div>
    </div>
  </section>

<section class="section">

  

    <nav class="level">
        <!-- Lado Esquerdo -->
        <div class="left-level">
          <div class="level-item">
            <p class="subtitle is-5">
              <strong>Operador:</strong> Jose Carlos
            </p>
          </div>
        </div>
      </nav>
      
      
      <button (click)="buscarGravacao()" *ngIf="!detalhesDaGravacao" class="button">Buscar Gravação</button>
      
      <w-detalhes-gravacao *ngIf="detalhesDaGravacao" [detalhesDaGravacao]="detalhesDaGravacao"></w-detalhes-gravacao>


</section>