<section class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Primary title
        </h1>
        <h2 class="subtitle">
          Primary subtitle
        </h2>
      </div>
    </div>
  </section>

<section class="section">

  

  <table class="table is-striped is-fullwidth">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Sobre Nome</th>
        <th>Prova 1</th>
        <th>Prova 2</th>
        <th>Prova 3</th>
        <th>Media</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Sobre Nome</th>
        <th>Prova 1</th>
        <th>Prova 2</th>
        <th>Prova 3</th>
        <th>Media</th>
      </tr>
    </tfoot>
    <tbody>
      <tr>
        <td>1</td>
        <td>Jose</td>
        <td>Guilherme</td>
        <td> <button class="button is-primary " disabled="">Nota: 100</button> </td>
        <td> <button class="button is-primary">Avaliar</button> </td>
        <td> <button class="button is-primary">Avaliar</button> </td>
        <td>50</td>

      </tr>

      <tr>
        <td>2</td>
        <td>Jose</td>
        <td>Guilherme</td>
        <td> <button class="button is-primary">Avaliar</button> </td>
        <td> <button class="button is-danger" disabled="">Nota: 0</button> </td>
        <td> <button class="button is-danger" disabled="">Nota: 0</button> </td>
        <td> 25 </td>
      </tr>


    </tbody>
  </table>


</section>