/* You can add global styles to this file, and also import other style files */

.is-gray {
  background-color: #eeeeee;
}
.margin-20-top {
  margin-top: 20;
}

.is-pointer-cursor {
  cursor: pointer;
}